<!DOCTYPE html>
<html>
  <head>
    <title>Ticket gather</title>
    <link rel="icon" type="image/ico" href="/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/reset.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"> -->
  </head>
  <body>
    <div id="title-container">
      <a href="/">
        <div id="title">Gather together</div>
      </a>
      <a href="/items/create" id="create-new">Create New</a>

    </div>
    {{{ body }}}
  </body>
</html>
