<!DOCTYPE html>
<html>
  <head>
    <title>Ticket gather</title>
    <link rel="icon" type="image/ico" href="/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/reset.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <div id="title-container">
      <a href="/">
        <div id="title">Gather together</div>
      </a>
    </div>
    {{{ body }}}
  </body>
</html>
